.profit-analysis {
    background-color: #242a38;
    border-radius: 8px;
    padding: 20px;
    height: 100%;
  }
  
  .chart-container {
    height: 180px;
    margin-top: 20px;
  }
  
  .profit-chart {
    overflow: visible;
  }
  
  .chart-text {
    fill: #8c8e94;
    font-size: 8px;
  }